<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>All Books</h2>

    <% if (books.length > 0) { %>
      <% books.forEach(book => { %> <!-- Correction de la syntaxe de la fonction fléchée -->
        <a class="single" href="/books/<%= book._id %>">
          <h3 class="title"><%= book.title %> by <%= book.author %></h3>
          <p class="snippet">Published Year: <%= book.publishedYear %></p> <!-- Ajout d'un libellé descriptif -->
        </a>
      <% }) %>
    <% } else { %>
      <p>There are no books to display...</p> <!-- Correction du message d'erreur -->
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
