<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h1>Book Details:</h1>
      <h2><%= book.title %></h2>
      <div class="content">
        <p><strong>Author:</strong> <%= book.author.name %></p>
        <p><strong>ISBN:</strong> <%= book.isbn %></p>
        <p><strong>Genre:</strong> <%= book.genre %></p>
        <p><strong>Published Year:</strong> <%= book.publishedYear %></p>
        <p><strong>Copies Available:</strong> <%= book.availableCopies %></p>
      </div>
    </div>

    <!-- Operation buttons -->
    <div class="operation-btn">
      <form action="/books/delete/<%= book._id %>" method="post">
        <button type="submit" class="btn btn-danger">Remove Book</button>
      </form>
      <form action="/books/edit/<%= book._id %>" method="get">
        <button type="submit" class="btn btn-primary">Edit Book</button>
      </form>
    </div>

    <% if (book.pdfBook) { %>
      <a href="/books/download/<%= book._id %>" class="btn btn-success">Download PDF</a>
    <% } %>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
