<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <h2>Edit Book</h2>

  <div class="create-blog content">
    <form action="/books/edit/<%= book._id %>" method="POST">
      <label for="title">Title:</label>
      <input type="text" value="<%= book.title %>" id="title" name="title" required>
      
      <label for="author">Author:</label>
      <input type="text" value="<%= book.author %>" id="author" name="author">
      
      <label for="isbn">ISBN:</label>
      <input type="text" value="<%= book.isbn %>" id="isbn" name="isbn">
      
      <label for="genre">Genre:</label>
      <select id="genre" name="genre" required>
        <option value="Fiction" <%= book.genre === "Fiction" ? "selected" : "" %>>Fiction</option>
        <option value="Non-Fiction" <%= book.genre === "Non-Fiction" ? "selected" : "" %>>Non-Fiction</option>
        <option value="Science" <%= book.genre === "Science" ? "selected" : "" %>>Science</option>
        <option value="Fantasy" <%= book.genre === "Fantasy" ? "selected" : "" %>>Fantasy</option>
      </select>      

      <label for="publishedYear">Published Year:</label>
      <input type="number" value="<%= book.publishedYear %>" id="publishedYear" name="publishedYear">
      
      <label for="copies">Copies:</label>
      <input type="number" value="<%= book.copies %>" id="copies" name="copies">

      <button type="submit">Update Book</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>